:root{
    --footer: #3C2C2B;
    --primary: #493A39;
    --button: #3C2C2B;
}
@font-face {
    font-family: 'Aclonica';
    src: url(../fonts/Aclonica-Regular.ttf);
}

@font-face {
    font-family: 'Corleone';
    src: url(../fonts/Corleone.ttf);
}

@font-face {
    font-family: 'Thunder Kingdom';
    src: url(../fonts/Thunder\ Kingdom.ttf);
}

@font-face {
    font-family: 'TT Tricks';
    src: url(../fonts/TT\ Tricks\ Trial\ DemiBold.otf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

.homepage{
    background: -webkit-linear-gradient(to bottom, #00427E, #090909);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #004e92, #090909); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.icon-v{
    display: flex;
    justify-content: end;
    margin: 4rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.logo img{
    transform: translateX(0rem);
    animation: float 6s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translatey(0rem);
    }
    50% {
        transform: translatey(-6rem);
    }
    100% {
        transform: translatey(0px);
    }
}





.footer{
    background-color: var(--footer);
    display: flex;
    justify-content: center;
    padding: 4rem;
}